<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
		<legend>Herzlich Willkommen</legend>
		
		<form action="@{/uebersicht/}" th:action="@{/uebersicht/}" method="get">
		<input type="submit" value="Übersicht"/>
		
		<form action="@{/produktliste/}" th:action="@{/produktliste/}" method="get">
		<input type="submit" value="Produkte"/>
		
		<form action="@{/einkaufswagen/}" th:action="@{/einkaufen/}" method="get">
		<input type="submit" value="Einkaufswagen"/>
		
</body>
</html>