<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Übersicht</title>
<link rel="stylesheet" href="style_menu.css" type="text/css">
</head>
<body>
	<div id="zentrieren" class="topfield"> 
    	<table width="1600px">
        	<tr>
            	<td width="80%">
                 <img src="Logo.jpg" class="bild"/>
                </td>
                <td width="20%">
                	<p class="headschrift"> World of Video <br> Spengergasse 20 <br> 1050 Wien <br> AUSTRIA </p>
                </td>
            </tr>
            </table>
    </div>
	<div id="zentrieren" class="menu">	
	 <table>
			<tr>
            	 
				<td>
					<form action="@{/uebersicht/}" th:action="@{/uebersicht/}" method="get"/>
					<input class="btn" type="submit" value="Übersicht"/>
				</td>
				<td>
					<form action="@{/produktliste/}" th:action="@{/produktliste/}" method="get"/>
					<input class="btn" type="submit" value="Produkte"/>
				</td>
				<td>
					<form action="@{/einkaufswagen/}" th:action="@{/einkaufen/}" method="get"/>
					<input class="btn" type="submit" value="Einkaufswagen"/>
				</td>
				<td>
					<form action="@{/firmeninformation/}" th:action="@{/firmeninformation/}" method="get"/>
					<input class="btn" type="submit" value="Firmeninformation"/>
				</td>
				<td>
					<form action="@{/login/}" th:action="@{/login/}" method="get"/>
                    <input class="btn" type="submit" value="Login"/>
                </td>
                <td>
					<form action="@{/englisch/}" th:action="@{/englisch/}" method="get"/>
                    <input class="btn" type="submit" value="Englisch"/>
                </td>
                <td>
					<form action="@{/deutsch/}" th:action="@{/deutsch/}" method="get"/>
                    <input class="btn" type="submit" value="Deutsch"/>
                </td>
			</tr>
		</table>
       </div>
        <div id="zentrierenHaupt" class="text">
       <!--Textteil -->
      <center>
      <H3>Unsere Produkte </H3>
       </center></div>
        	
</body>
</html>
